:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --secondary-text-color: #ffffff;
  --link-color: #757575;
  --white-color: ;
}

body {
  font-family: var(--main-font);
}

/*======SPECIFICATIONS======*/

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: auto;
}

.section {
  padding: 94px 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*======END SPECIFICATIONS======*/

/*======HEADER======*/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: 93px;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}
.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.address {
  display: flex;
}

.header .address {
  margin-left: auto;
}
.header-mail {
  padding-right: 50px;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143x;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143x;
  letter-spacing: 0.02em;
  color: var(--link-color);
}
.nav-list {
  color: var(--main-text-color);
  display: flex;
}

.address {
  color: var(--link-color);
  font-style: normal;
  display: flex;
}

.nav-list-link:hover,
.nav-list-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus,
.portfolio-button-list-item:hover,
.portfolio-button-list-item:focus {
  color: var(--accent-color);
}

/*======END HEADER======*/

/*======HERO======*/

.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  width: 696px;
}

.hero-list {
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  min-width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
  margin: auto;
}
/*======END HERO======*/

/*======FEATURES======*/

.features {
  padding-top: 94px;
}

.features-list {
  display: flex;
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-definition {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--link-color);
}
/*======END FEATURES======*/

/*======ABOUT======*/
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 50px;
}
.about-list {
  display: flex;
}

.about-list-item:not(:last-child) {
  margin-right: 30px;
}

/*======END ABOUT======*/

/*======OUR TEAM======*/
.team-list {
  display: flex;
}
.team {
  background-color: #f5f4fa;
}
.team-list-item:not(:last-child) {
  margin-right: 30px;
}
.team-list-wrapper {
  padding: 30px 10px;
}

.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.team-list-undertitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--link-color);
}
/*======END OUR TEAM======*/

/*======FOOTER======*/

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address-list-item {
  flex-direction: column;
  display: flex;
}

.footer-location {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 20px;
}

.footer-mail {
  margin-top: 9px;
  margin-bottom: 9px;
}

.footer-mail,
.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*======PORTFOLIO======*/

.portfolio-button-list {
  display: flex;
  margin-bottom: 20px;
  height: 38px;
  justify-content: center;
}

.portfolio-button {
  font-family: var(--main-font);
  height: 38px;
  background: #f5f4fa;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.portfolio-button-list-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio-list-item {
  margin-top: 30px;
  background: var(--white-color);
  border: 1px solid #eeeeee;
}

.portfolio-list-wrapper {
  padding: 20px 24px;
}

.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--link-color);
  font-family: var(--main-font);
}
